<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div
      class="grid grid-cols-2 gap-x-10 flex items-center justify-center h-screen"
    >
      <div class="col-span-1 flex flex-col items-center justify-center h-full">
        <div class="min-w-[407px]">
          <h1 class="text-[#40444E] text-5xl font-bold">Silahkan Login</h1>
          <p class="text-zinc-500 text-lg font-normal">
            Belum punya akun ?<a
              href="{{ url_for('register') }}"
              class="text-[#0A905D] ms-2"
              >Daftar</a
            >
          </p>
          <form action="#" method="POST" class="mt-10 mb-11">
            <div class="mb-4">
              <input
                type="email"
                id="email"
                name="email"
                class="w-full px-3 py-2 border border-gray-300 rounded"
                placeholder="your@example.com"
                required
                autocomplete="current-email"
              />
            </div>

            <div class="mb-4">
              <input
                type="password"
                id="password"
                name="password"
                class="w-full px-3 py-2 border border-gray-300 rounded"
                placeholder="Password"
                required
                autocomplete="current-password"
              />
            </div>
            <button
              type="submit"
              class="w-1/2 bg-[#0A905D] font-semibold text-white py-2.5 rounded-[10px]"
            >
              Masuk
            </button>
          </form>
        </div>
      </div>
      <div class="col-span-1">
        <div class="">
          <img
            src="{{ url_for('static', filename='images/login.png') }}"
            alt="Login Image"
            class="w-full h-screen object-cover"
          />
        </div>
      </div>
    </div>
  </body>
</html>
